p { 
    font-family: "Trebuchet MS", sans-serif;
    font-size: 1.5em;   
    margin: 25px;
    margin-top: 40px;
}
li {
    margin: 10px;
    margin-left: 90px;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 1.3em;
}
