div#calendar {
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
div#calendar iframe {
    border: 0;
    width: 800px;
    height: 600px;
}
div#calendar iframe .view-cap {
    color: purple;
}
div#calendar iframe .view-container-border {
    color: purple;
}
div#caldendar iframe .st-bg {
   background: #555;
}
div#calendar iframe .st-bg-today {
	background: yellow;
	border-left: 1px solid yellow;
	border-right: 1px solid yellow;
}
