p#mission {
    margin: 30px;
    padding: 20px;
    border: 1px solid #000;
    font-size: large;
}
div#left_panel {
    float: left;
    margin: 30px;
    padding: 20px;
    border: 1px dotted #777;
    width: 400px;
}
div#left_panel ul {
    list-style-type: none;
}
div#left_panel li {
    margin-top: 5px;
}
div#right_panel {
    display: table;
    margin-left: auto;
    margin-right: 30px;
    margin-bottom: 50px;
    margin-top: -110px;
}    
div#notification_box{
    margin-left: 30px;
    margin-bottom: 10px;
    border: 1px dotted #777;
    width: 420px;
    padding: 10px;
}
a:link {
    text-decoration:none;
}

