table.schedule  {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.4em;
    font-style: normal;
    border-collapse: collapse;
    margin-top: 39px; 
    margin-bottom: 39px;
}
.schedule thead th{
    padding:1px;
    color: black;
    border:1px solid black;
    background-color: #BCA9F5;
}

table,td,th {
    border: 1px solid black;
    padding: 1px;
    height: 52px;
    width: 205px;
    margin-left: auto;
    margin-right: auto;
    background-color: #E1DFE1;
    text-align: center;
}

table table td, table table tr{
    border: none;
} 
