ul.slideshow {
    display: table;
    list-style: none;
    width: 600px;
    height: 450px;
    overflow: hidden;
    position: relative;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}	
ul.slideshow li {
    position: absolute;
    left: 0;
    right: 0;
}
ul.slideshow li.show {
    z-index: 500;	
}
ul img {
    border: none;	
}
#slideshow-caption {
    width: 600px;
    height: 70px;
    position: absolute;
    bottom: 0;
    left: 0;	
    color: #000;
    background: #aaa;
    z-index: 500;
}
#slideshow-caption .slideshow-caption-container {
    padding: 5px 10px;		
    z-index: 1000;
}
#slideshow-caption h3 {
    margin: 0;
    padding: 0;	
    font-size: 14px;
}
#slideshow-caption p {
    margin: 5px 0 0 0;
    padding: 0;
}
