table.schedule  {
    min-width: 1040px;
    padding: 2px;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.5em;
    font-style: normal;
    border-collapse: inherit;
    margin-top: 10px; 
}
.schedule thead th{
    padding:1px;
    color: black;
    border:1px solid #93CE37;
    background-color: #BCA9F5;
}

table,td,th {
    padding: 1px;
    border: 1px solid black;
    height: 20px;
    width: 163px;
    margin-left: auto;
    margin-right: auto;
    padding:5px;
    background: #B964D4
}
ol,li {
    list-style-type: none;
}

