table.schedule  {
    min-width: 1040px;
    font-family: "Trebuchet MS", sans-serif;
    padding: 2px;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.5em;
    font-style: normal;
    border-collapse: inherit;
    margin-top: 40px; 
}
.schedule thead th,td {
    padding:1px;
    color: black;
    border:1px solid #93CE37;
  /* border-bottom:3px solid #9ED929;*/
    background-color: #BCA9F5;
}
table,th,tr,td {
    padding: 2px;
    border: 2px solid black;
    height: 24px;
    width: 163px;
    margin-left: auto;
    margin-right: auto;
    padding:1px;
    text-align: center;
    background-color: #E1DFE1;
}
ol,li {
    text-align: left;
    list-style-type: none;
}
footer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}
section {
   border: 0px;
}




